# Parent project-global Lombok configuration
# The Lombok Project provides Java annotations that ensure auto-generation of the standard common code (such as getters, setters, toString(), logger instantiation, etc) at runtime;
# This helps to reduice the coding effort and keep the source code less verbose, and more clean and readable.

# Lombok annotations are used throughout this project. For the IDE to recognize these annotations and resolve the implicit code (the code that will be generated during the build/compilation),
# make sure that the IDE-specific version of the Lombok plugin is installed.
#[CAV]
#
# See https://projectlombok.org/features
# author: constantine

# This defines the custom name for the generated logger field name for any classes annotated with @Slf4j
# overrides the Lombok default 'log' to be consistent w/Java naming conventions for final static class members
lombok.log.fieldName=LOGGER

# Changes the default of a field from "package private" to "private".    This appears to be a sensisble
# default which eliminates having to private everything.  In particular, this means that fields of @Data classes are private.
#
# Can be overriden by providing an access modifier (obviously - public, protected....) or the @PackagePrivate if you had
# strong reason to need package privte
#
# This feature has been a part of lombok since 2012
lombok.fieldDefaults.defaultPrivate=false